:root {
    --color-primary: #646464;
    --color-secondary: #2C394B;
    --color-tertiary: #334756;
    --color-accent: #FF4C29;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.about_head {
    font-style: normal;
    color: var(--color-accent);
}

.about_body {

}

.warning {
    font-style: normal;
    color: yellow;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.27);
}

.sidebar-content {
    background-color: rgba(0, 0, 0, 0.27);
}

.sidebar-tabs {
    background-color: #7f7f7f;
}

.active {
    /*background-color: rgba(0, 0, 0, 0.27);*/
}

.sidebar-pane {
}

.sidebar-header {
    color: #000000;
    background-color: #7f7f7f;
}

.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
    color: #ff6900;
    background-color: #000000;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    color: #000000;
    background-color: #ff6700;
}

.list-group-item {
    color: #adadad;
    background-color: rgb(57, 57, 57);
    border: solid 6pt #ff6900;
}

.list-group-item-action:hover {
    background-color: rgba(255, 101, 0, 0.81);
}

.unmuted {
    color: var(--color-accent);
}
