<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MONROE COUNTY 911 INCIDENT MAP</title>

        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0"
              name="viewport">

        <!-- START BOOTSTRAP -->
        <link crossorigin="anonymous"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              rel="stylesheet">
        <!-- END BOOTSTRAP -->

        <!-- START LEAFLET -->
        <link crossorigin=""
              href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
              integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
              rel="stylesheet"/>
        <script crossorigin=""
                integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
                src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
        <!-- END LEAFLET -->

        <!-- START LOCATE.CONTROL -->
        <link href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"
              rel="stylesheet"/>
        <script charset="utf-8"
                src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
        <!-- END LOCATE.CONTROL -->

        <!-- START leaflet.ajax -->
        <script src="/static/leaflet.ajax.js"
                type="text/javascript"></script>
        <!-- END leaflet.ajax -->

        <!-- START leaflet-pulse-icon: https://github.com/mapshakers/leaflet-icon-pulse -->
        <script src="/static/node_modules/@ansur/leaflet-pulse-icon/dist/L.Icon.Pulse.js"></script>
        <link href="/static/node_modules/@ansur/leaflet-pulse-icon/dist/L.Icon.Pulse.css"
              rel="stylesheet"/>
        <!-- END leaflet-pulse-icon -->

        <link href="/static/css/main.css"
              rel="stylesheet">

    </head>
    <body>
        <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <!--            <div class="container-fluid">-->
            <a class="navbar-brand"
               href="#">911Mapr.com
            </a>
            <button aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <!--                        <li class="nav-item">-->
                    <!--                            <a aria-current="page"-->
                    <!--                               class="nav-link active fw-bold"-->
                    <!--                               href="#">Home-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <li class="nav-item dropdown">
                        <a aria-expanded="false"
                           class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown"
                           href="#"
                           id="navbarDropdown"
                           role="button">
                            Locations
                        </a>
                        <ul aria-labelledby="navbarDropdown"
                            class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li>
                                <a class="dropdown-item"
                                   href="#">Monroe County, NY (Rochester)
                                </a>
                            </li>
                            <!--                                <li>-->
                            <!--                                    <hr class="dropdown-divider">-->
                            <!--                                </li>-->
                            <!--                                <li><a class="dropdown-item text-dark" href="#"></a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page"
                           class="nav-link active fw-bold"
                           data-bs-target="#exampleModal"
                           data-bs-toggle="modal"
                           href="#">About
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="border rounded-3 p-1 text-decoration-none"
                           data-bs-target="#sidebar"
                           data-bs-toggle="collapse"
                           href="#"><i class="bi bi-list bi-lg py-2 p-1"></i>
                            Menu
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- MAIN CONTENT -->
        <div class="container-fluid main-content">
            <div class="row clearfix">
                <div class="col-auto p-0 pull-left" id="sidebar-col">
                    <div class="sidebar collapse collapse-horizontal show border-end"
                         id="sidebar">
                        <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
                           href="#">
                            <svg class="bi me-2"
                                 height="24"
                                 width="30">
                                <use xlink:href="#"></use>
                            </svg>
                            <span class="fs-5 fw-semibold">Incident List</span>
                        </a>
                        <div class="list-group border-0 rounded-0 text-sm-start min-vh-100"
                             id="sidebar-nav">
                            <a class="list-group-item border-end-0 d-inline-block text-truncate"
                               data-bs-parent="#sidebar"
                               href="#"><i class="bi bi-bootstrap"></i> <span>item 1</span></a>
                            <a class="list-group-item border-end-0 d-inline-block text-truncate"
                               data-bs-parent="#sidebar"
                               href="#"><i class="bi bi-bootstrap"></i> <span>item 2</span></a>
                            <a class="list-group-item border-end-0 d-inline-block text-truncate"
                               data-bs-parent="#sidebar"
                               href="#"><i class="bi bi-bootstrap"></i> <span>item 3</span></a>
                            <a class="list-group-item border-end-0 d-inline-block text-truncate"
                               data-bs-parent="#sidebar"
                               href="#"><i class="bi bi-bootstrap"></i> <span>item 4</span></a>
                        </div>
                    </div>
                </div>


                <div class="col p-0 pull-right" id="map-col">
                    <div id="map-container">
                        <!-- LEAFLET -->
                        <div class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag"
                             id="map"></div>
                        <script src="../static/leaf.js"></script>
                        <!-- END LEAFLET -->
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal start -->
        <div aria-hidden="true"
             aria-labelledby="exampleModalLabel"
             class="modal fade"
             id="exampleModal"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Welcome to 911Mapr.com</h5>
                        <button aria-label="Close"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                type="button"></button>
                    </div>
                    <div class="modal-body">
                        <p>911Mapr.com is a live map of 911 calls</p>
                        <p>Created by Joshua Dupras</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary"
                                data-bs-dismiss="modal"
                                type="button">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->

        <!-- Bootsrap Bundle with Popper -->
        <script crossorigin="anonymous"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- END BOOTSTRAP -->


    </body>
</html>
