server_tokens off;

upstream flask_app {
    server ${WEB_APP_HOST}:5000;
}

server {

    listen 80;
    server_name 911mapr.com;

    location / {
        proxy_pass http://flask_app;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }

}